<h1>Ejmplo directivas Angular</h1>
<h3>Numero de deportes: {{sports.length}}</h3>
<!-- Vamos a realizar un if con directivas -->
<div *ngIf="sports.length <= 7; then deportesMenor7; else deportesMayor7">
</div>
<h4>
    El primer deporte es {{sports[0]}}
</h4>
<!-- Un bucle se realiza sobre la etiqueta html que deseamos repetir n veces con each-->
<ul>
    <li *ngFor="let deporte of sports; let i = index">{{i}}, {{deporte}}</li>
</ul>

<ng-template #deportesMayor7>
    <h2 style="color:blue">
        Tenemos más de 7 deportes
    </h2>
</ng-template>

<ng-template #deportesMenor7>
<h2 style="color:red">
    Tenemos menos de 7 deportes
</h2>
</ng-template>